.poweredBy {
    bottom: 10px;
    left: 10px;
    font-size: 0.9rem;
    z-index: 1000;
    text-align: center;
    border-radius: 5px;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    color: white!important;
    background-color: white;

    .logo {
        width: 20px;
        height: 20px;
        margin-right: 5px;
        color:white;
        background-color: white;
    }

    .poweredByText {
        font-size: 0.9rem;
        color: white !important;
        background-color: white!important;
    }

    .copyRight {
        font-size: 0.6rem;
    }

    a {
       
        color: white!important;
        font-weight: 1;
        background-color: white!important;
    }
}