@import "../../../styles/mixins.scss";

.background {
  position: fixed;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: grayscale(100%);
  z-index: -1;
  transform: scale(1.1);
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.styleContainer {
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 1200px;
  border-radius: 0;
  margin: 40px;
  overflow: hidden;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);

  @include respond-above(md) {
    min-width: 800px;
  }

  @include respond-below(md) {
    margin: 0;
    width: 100%;
  }

  .innerContainer {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    place-self: center;
    background-color: var(--tk-color-white);
    color: var(--tk-text);
    padding: 40px;
    width: 100%;

    @include respond-below(md) {
      min-height: 100vh;
      justify-content: space-between;
    }

    a {
      color: var(--tk-primary) !important;
    }

    .eventInfo {
      width: 100%;
    }

    .ticketSelection {
      .buyTicketsBox {
        border-radius: 0;
        border: 1px solid var(--tk-color-gray-2);
        position: sticky;
        top: 20px;
        width: 300px;

        .priceRange {
          text-align: center;
          font-weight: 600;
          padding: 0 10px 10px;
        }
      }
    }
  }
}